.cover__link{
    display: flex;
    flex-direction: column;
    max-height: 740px;
    background-size: cover;
    position: relative;
    z-index: 10;
    color: #fff;
    text-decoration: none;
    padding: 245px 0;
}

@media screen and (max-width: 1024px) {
    .cover__link{
        padding: 195px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover__link{
        padding: 115px 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__link{
        padding: 33px 0;
    }
}


.cover__link::after {
    content: "";
    position: absolute;
    background-color: rgba(42, 44, 47);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;
    opacity: .3;
    transition: opacity .3s linear;
}

.cover__link:hover::after {
    opacity: .8;
}

