.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 28px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 424px) {
    .header {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}