.footer__nav-item {
    margin-right: 16px;
}

.footer__nav-item:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .footer__nav-item {
        margin-bottom: 32px;
        margin-right: 0;
    }
    .footer__nav-item:last-of-type {
        margin-bottom: 0;
    }
}